:root {
  font-family: Arial, system-ui, Avenir, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #1f1f1f;
  color: #ffffff;
  padding-bottom: 1000px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f1f1f; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d38c37b3; 
  border-radius: 5px;
}