:root {
  font-family: Arial, system-ui, Avenir, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 300;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #121212;
  color: #ffffff;
  padding-bottom: 1000px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}